// navy-blue/orange style

$db-navy: #2e4057;
$db-navy-text: #3e597e;
$db-orange: #ff914d;
$background-main: #fffce8;
$border-main: #ffe0bd;

// dark mode vars

$db-navy: #43464b;
$db-navy-text: #b9bcc0;
$db-orange: #e7e7e7;
$background-main: #1a1a1a;
$border-main: #adadad;


// light mode vars



// animations

$animation-short: all 0.2s ease-in-out;
$animation: all 0.4s ease-in-out;
$animation-long: all 0.7s ease-in-out;