$db-navy: #2e4057;
$db-navy-text: #3e597e;
$db-orange: #ff914d;
$background-main: #fffce8;
$border-main: #ffe0bd;

// dark mode vars



// light mode vars



// animations

$animation-short: all 0.2s ease-in-out;
$animation: all 0.4s ease-in-out;
$animation-long: all 0.7s ease-in-out;