@import "./variables";
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600&display=swap");

html {
  font-size: 14px;
}

body {
  margin: 0px;
  color: #2c3e50;
  background-color: $background-main;
}

h1 {
  color: $db-navy-text;
  font-size: 2rem;
  font-family: "Jost", sans-serif;
  // margin: 1rem 1rem 1rem 1rem; // to delete and style locally
}

h2 {
  color: $db-navy-text;
  font-family: "Jost", sans-serif;
  font-size: 1.7rem;
}

h3 {
  font-family: "Jost", sans-serif;
  color: $db-orange;
  font-size: 1.3rem;
}

h4 {
}

p {
  font-family: "Jost", sans-serif;
  color: $db-orange;
  font-size: 1rem;
  text-transform: uppercase;
}

ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
  font-family: "Jost", sans-serif;
  color: $db-navy-text;
  font-size: 1.2rem;
  font-weight: 400;
}

a {
  color: #42b983;
}

// button {
//   border: 1px solid $border-main;
//   border-radius: 3px;
//   padding: 1rem;
//   background-color: cornflowerblue;
// }
